/***************
*** Générale ***
****************/

main {
  width: 100%;
}

/*************
*** Header ***
**************/

.navbar {
  height: 90px;
  flex-flow: column wrap;
}

.img-logo {
  margin-left: 50px;
}

.nav-menu {
  width: 100%;
}

.nav-links {
  width: 50%;
  padding: 0;
  text-align: center;
}

.nav-links a {
  display: inline-block;
  width: 100%;
  border-bottom: 4px solid #f2f2f2;
  padding: 0;
  padding-bottom: 3px;
}

.nav-links a:hover {
  padding: 0;
  padding-bottom: 3px;
  border-bottom: 4px solid #0065fc;
  border-top: none;
}

/****************
*** Recherche ***
*****************/

.search-container {
  flex-flow: column nowrap;
  gap: 5px;
  padding: 0;
}

.search-header {
  padding: 20px;
}

.search-form {
  margin: 0 auto;
  padding: 20px;
}

.hidden-text {
  display: none;
}

.hidden-icon {
  display: block;
}

/*************
*** Filtre ***
**************/

.filter-title {
  float: none;
}

.filters {
  padding: 20px;
}

/***********************
*** Recherche footer ***
************************/

.search-footer {
  padding: 20px;
  flex-flow: nowrap;
}
