/***************
*** Générale ***
****************/

main {
  width: 100%;
}

/**************
 *** Header ***
 **************/

.navbar {
  flex-flow: column wrap;
}

.img-logo {
  margin-left: 50px;
}

.nav-menu {
  width: 100%;
}

.nav-links {
  width: 50%;
  text-align: center;
}

.nav-links a {
  display: inline-block;
  width: 100%;
  border-bottom: 4px solid #f2f2f2;
  padding: 0;
  padding-bottom: 3px;
}

.nav-links a:hover {
  padding: 0;
  padding-bottom: 3px;
  border-bottom: 4px solid #0065fc;
  border-top: none;
}
