/******************* 
*** Reset du CSS ***
********************/

*,
a,
ul,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  list-style: none;
}

/***************
*** Générale ***
****************/

body {
  max-width: 1920px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

main {
  width: 90%;
  margin: 0 auto;
}

.bck-white {
  background-color: white;
}

.bck-grey {
  background-color: #f2f2f2;
}

.bck-blue {
  background-color: #0065fc;
}

.bck-light-blue {
  background-color: #deebff;
}

.color-white {
  color: white;
}

.color-blue {
  color: #0065fc;
}

.color-grey {
  color: #f2f2f2;
}

.font-bold {
  font-weight: bold;
}

.fit-cover {
  object-fit: cover;
}

/**************
*** Flexbox ***
***************/

.flex-box {
  display: flex;
}

.flex-row {
  flex-flow: row wrap;
}

.flex-row-nowrap {
  flex-flow: row nowrap;
}

.flex-column {
  flex-flow: column wrap;
}

.flex-column-nowrap {
  flex-flow: column nowrap;
}

.flex-just-between {
  justify-content: space-between;
}

.flex-ali-center {
  align-items: center;
}

.flex-gap-20 {
  gap: 20px;
}

.flex-gap-55 {
  row-gap: 55px;
}

.flex-gap-70 {
  gap: 70px;
}

/*************
*** Header ***
**************/

.navbar {
  height: 120px;
  width: 100%;
  font-size: 19px;
}

.img-logo img {
  width: 60%;
  margin-left: 20px;
}

.nav-menu {
  margin-right: 20px;
}

.nav-links a {
  padding: 50px 25px 50px 25px;
}

/* On réduit le padding top pour permettre l'apparition du border-top */
.nav-links a:hover {
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding: 47px 25px 50px 25px;
}

/****************
*** Recherche ***
*****************/

.search-header h1 {
  margin-bottom: 10px;
}

/* TODO: improve
    - Les padding et border de la partie recherche (pas aligné)
*/

.search-form {
  border-radius: 10px;
}

.map-icon {
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-field {
  height: 100%;
  border-left: none;
  border-right: none;
  border-top: 3px solid #f2f2f2;
  border-bottom: 3px solid #f2f2f2;
  padding: 11px 7px 7px 7px;
}

.search-btn {
  border: none;
  padding: 12px 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.hidden-icon {
  display: none;
}

/*************
*** Filtre ***
**************/

.filter-title {
  float: left;
  padding: 10px 30px 10px 10px;
}

.filter-select {
  border-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  cursor: pointer;
  border: 3px solid #f2f2f2;
  border-left: none;
}

.icon {
  font-size: 16px;
  padding: 11px;
  border-radius: 30px;
}

/* On définie une class spéciale car l'icone ne permet pas un rond parfait */
.icon-child {
  padding: 11px 13px;
  border-radius: 30px;
  font-size: 16px;
}

.filter-content {
  padding: 10px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.filter-select:hover {
  background-color: #deebff;
  border-color: transparent;
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

/***********************
*** Recherche footer ***
************************/

.icon-info {
  padding: 5px 10px;
  border: 2px solid #f2f2f2;
  border-radius: 50%;
}

/******************
*** Hébergement ***
*******************/

#leasing-trend {
  height: 600px;
  margin-top: 30px;
}

.leasing {
  width: 70%;
  height: 100%;
  padding: 0 20px 0 20px;
  border-radius: 20px;
  justify-content: space-evenly;
}

.leasing-container {
  justify-content: space-evenly;
  gap: 20px;
}

.leasing-title {
  padding: 20px 0 0 20px;
}

.leasing-more {
  padding: 0 0 0 20px;
}

.leasing-more h3:hover {
  color: #0065fc;
}

/****************
*** Populaire ***
*****************/

.trend {
  width: 27%;
  height: 100%;
  border-radius: 20px;
  justify-content: space-evenly;
}

.trend-title {
  padding: 20px;
}

.trend-container {
  align-items: center;
  gap: 20px;
}

.trend-resume {
  padding-left: 15px;
}

.trend-resume p {
  padding-top: 10px;
}

.image-trend img {
  height: 120px;
  width: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/*************
*** Cartes ***
**************/

.cards {
  border-radius: 20px;
  padding: 5px;
  /* Box shadow: axe hori | axe verti | flou | distance | (couleur, opacité) */
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.4);
}

.cards-w33 {
  width: 30%;
}

.cards-w100 {
  width: 100%;
}

.cards-w80 {
  width: 80%;
}

.image-leasing img {
  height: 115px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cards-content {
  padding: 5px 0 0 5px;
}

.stars {
  padding-top: 5px;
}

.trend-stars {
  padding: 0 0 10px 15px;
}

/* TODO: Fix this 

Bug sur le flex de la partie populaire - en dessous de 1280px le flow est pas comme il faut 

*/

/****************
*** Activités ***
*****************/

#activities {
  margin: 20px 0 20px 0;
  height: 500px;
}

#activities h2 {
  padding: 20px 20px 20px 40px;
}

.activities-container {
  height: 100%;
}

.left {
  width: 50%;
  height: 100%;
}

.right {
  width: 50%;
  height: 100%;
}

.image-activities img {
  height: 115px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.img-350 img {
  height: 350px;
}

.img-150 img {
  height: 150px;
}

.img-100 img {
  height: 100px;
}

.cards-h200 {
  height: 200px;
}

.cards-h400 {
  height: 400px;
}

.padding-0 {
  padding: 0;
}

.cards-w40 {
  width: 40%;
}

.padding-5 {
  padding: 10px;
}

/****************
*** Activités ***
*****************/

footer {
  /* margin-top: 100px; */
  padding: 40px 40px 40px 120px;
}

.footer-container {
  max-width: 1920px;
}

/* TODO: FIXIT
          
        Bug H3 sur les écrans intermédiaire dans la partie activities
        
        Faire la partie responsive d'activities et footer
        */
