/***************
*** Générale ***
****************/

main {
  width: 100%;
}

/*************
*** Header ***
**************/

.navbar {
  height: 100px;
  justify-content: space-evenly;
}

/* On réinitialise le padding top parce que le border est bottom */
.nav-links a:hover {
  border-bottom: 3px solid #0065fc;
  border-top: none;
  padding-top: 50px;
}

/****************
*** Recherche ***
*****************/

.search-container {
  flex-flow: column nowrap;
  padding: 0;
}

.search-header {
  padding-left: 20px;
}

.search-form {
  padding-left: 20px;
}

/*************
*** Filtre ***
**************/

.filter-title {
  float: none;
  padding-left: 20px;
}

.filters {
  padding-left: 20px;
}

/***********************
*** Recherche footer ***
************************/

.search-footer {
  padding-left: 20px;
  flex-flow: nowrap;
}

/******************
*** Hébergement ***
*******************/

#leasing-trend {
  height: auto;
  margin: 15px;
}

.leasing {
  row-gap: 15px;
}

.leasing-more {
  padding-bottom: 15px;
}

.h3-mod {
  font-size: 14px;
}

/****************
*** Populaire ***
*****************/

.trend {
  height: 764px;
  justify-content: flex-start;
  gap: 60px;
}

.image-trend {
  width: 30%;
}

.image-trend img {
  max-width: 80px;
}

.trend-container {
  padding: 50px 10px;
}

.trend-title {
  padding: 10px;
}

.trend-title h2 {
  font-size: 20px;
}

.pad-l-20 {
  padding: 0;
}

.pad-l-20 h3 {
  font-size: 14px;
}

/*************
*** Cartes ***
**************/

.cards-w33 {
  width: 40%;
}

.cards-h125 {
  height: 125px;
}
